@import "./global/normalize";
@import "./global/fonts";
@import "./global/media";
@import "./global/value";
@import "./global/global";

@import "./section/header";
@import "./section/hero";
@import "./section/our";
@import "./section/show";
@import "./section/price";
@import "./section/reviews";
@import "./section/services";
@import "./section/footer";