.price {
    &__title {
        &-sml {
            font-size: toRem(20);
            font-weight: 500;
            color: #6D6D6D;
            text-align: center;
            margin-bottom: 10px;
        }

        font-size: toRem(36);
        font-weight: 800;
        color: #2F2F2F;
        text-align: center;
        margin-bottom: 50px;
    }

    &__items {
        display: flex;
        justify-content: center;
        gap: 30px;

        @include a (tablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        max-width: 350px;
        width: 100%;
        max-height: 396px;
        background-color: $light-color;
        box-shadow: 0px 4px 30px rgba(89, 89, 89, 0.03);
        border-radius: 5px;
        padding: 40px 30px 55px;
        &-title {
            font-size: toRem(24);
            color: #2F2F2F;
            text-align: center;
            margin-bottom: 49px;
        }
    }

    &__wrap {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:last-child{
            margin-bottom: 30px;
        }
    }

    &__descr {
        font-size: toRem(16);
        color: #858585;
    }

    &__time {
        font-size: toRem(16);
        font-weight: 700;
        color: #2F2F2F;
        display: inline-block;
        margin-left: 39px;
    }

    &__mark {
        background: url(./../../img/mark-icon.svg);
        width: 15px;
        height: 14px;
    }

    &__price {
        font-size: toRem(40);
        font-weight: 800;
        color: $main-color;
        display: block;
        text-align: center;
        margin-bottom: 34px;
    }

    &__btn {
        box-shadow: 14px -11px 0 #F7F9F9,
        -14px -11px 0 #F7F9F9;
        position: relative;
        left: 50%;
        transform: translate(-50%, 50%);
        &::before {
            content: "";
            position: absolute;
            background: url(./../img/price-icon.svg);
            width: 21px;
            height: 21px;
            left: 20px;
        }
    }
}