.services {
    padding: 100px 0;

    &__title {
        font-size: toRem(36);
        font-weight: 800;
        color: #2F2F2F;
        text-align: center;
        margin-bottom: 50px;
        &-sml {
            font-size: toRem(20);
            font-weight: 500;
            color: #6D6D6D;
            text-align: center;
            margin-bottom: 10px;
        }
    }

    &-wrap {
        background: url(./../../img/services-bg.png) no-repeat bottom left;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 23px 0 44px;
        @include a (tablet-xl) {
            background: none;
        }
    }

    &__content {
        max-width: 604px;
        width: 100%;
        &-title {
            font-size: toRem(24);
            font-weight: 700;
            color: #404040;
            margin-bottom: 12px;
        }
        &-descr {
            font-size: toRem(16);
            color: #404040;
            margin-bottom: 27px;
        }
    }

    &__items {
        display: flex;
        column-gap: 30px;
        @include a (tablet-xl) {
          align-self: center;
          flex-direction: column;
        }
    }

    &__item {
        max-width: 255px;
    }
}