.show {
    padding: 100px 0;

    &-wrap {
        display: flex;
        justify-content: space-between;

        @include a (laptop) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__content {
        max-width: 504px;
        width: 100%;
    }

    &__title {
        font-size: toRem(36);
        line-height: 44px;
        font-weight: 800;
        margin-bottom: 20px;
    }

    &__descr {
        font-size: toRem(20);
        line-height: 140%;
        margin-bottom: 30px;
    }

    &__image {
        position: relative;
        @include a (mobile) {
            display: none;
        }
    }

    &__png-2 {
        position: absolute;
        left: 40px;
        top: -50px;
    }
}